services:
  frontend:
      container_name: frontend
      build:
          context: ./frontend
      ports:
        - "5173:5173"
      volumes:
          - ./frontend:/app 
          - /app/node_modules
          - frontend-dist:/app/dist
          - ./shared:/app/src/shared
      env_file:
        - ./frontend/.env.production
      environment:
        - HOST=0.0.0.0
      networks:
        - ft_transcendence

  backend:
      container_name: backend
      build:
        context: ./backend
      ports:
        - '4444:4444'
      volumes:
        - frontend-dist:/app/static
        - ./shared:/app/src/shared
        - ./backend/db:/app/db
        - ./backend/uploads/avatars:/app/uploads/avatars
        - ./backend/static:/app/static
      env_file:
        - ./backend/.env
      networks:
        - ft_transcendence

networks:
  ft_transcendence:
    driver: bridge

volumes:
  frontend-dist: