<div>
  <!-- Header -->
  <nav class="font-press bg-indigo-900/10 text-white px-6 py-4 flex justify-between items-center">
    <div id="header" class="text-lg font-press font-bold tracking-wide flex items-center gap-2">
      <span class="material-symbols-outlined text-3xl">swords</span>
      Pong
    </div>
    <div class="flex gap-8 items-center">
      <button id="nav-home" class="menu-tab" data-tab="play">Play</button>
      <button id="nav-profile" class="menu-tab" data-tab="profile">Profile</button>
      <button id="nav-leaderboard" class="menu-tab" data-tab="leaderboard">Leaderboard</button>
      <button id="nav-contact" class="menu-tab" data-tab="contact">Contact</button>
      <button id="nav-logout" class="menu-tab btn-secondary" data-tab="logout">Logout</button>
      <!-- Language Switch -->
      <!-- Se popula con langes de langueReducer -->
      <!-- <select id="lang-switch" class="bg-indigo-800 text-white rounded px-2 py-1"></select> -->
    </div>
  </nav>

  <!-- Divider -->
  <div class="relative">
    <div class="absolute inset-0 flex items-center">
      <div class="w-full border-t border-[--secondary-color]"></div>
    </div>
  </div>
</div>
